body {
    background-color: black;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    font-weight: 700;
}

h1 {
    display: block;
    font-size: 36pt;
    font-weight: bolder;
    color: #ffaa00;
    text-align: center;
}

h2 {
    display: block;
    font-size: 24pt;
    font-weight: bolder;
    color: #ffaa00
}

h3 {
    font-size: 18pt;
    font-weight: bolder;
    color: #ffaa00
}

ul,
li {
    font-size: 14pt;
    font-weight: normal;
    list-style-type: none;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

button {
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
}

.buttons {
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.right {
    align-self: flex-end;
}

.highlight {
    color: #ffaa00;
}

.smallPrint {
    font-size: .75em;
    font-weight: 500;
}

.content {
    margin: auto;
    max-width: 1200px;
    position: relative;
}

.block {
    background-color: #0c2232;
    padding: 1em;
    border-radius: 1em;
}

.header {
    margin-top: 1em;
    margin-bottom: 2em;
}

.script-logo {
    max-width: 100%;
    max-height: 3em;
}

.profilePic {
    max-width: 300px;
    border-radius: 100%;
}

.expanded {
    width: 100%;
}

.footer {
    margin-top: 1rem;
}


.featured {
    width: 256px;
    border-radius: 1em;
}

.thumbnail {
    width: 128px;
    border-radius: .6em;
}

.button {
    text-decoration: none;
    color: #fafafa;
    border: 1px solid;
    border-radius: .5em;
    width: 80%;
    text-align: center;
    padding: .3em 0em;
    margin: .2em 0em;
}

a,
a:link,
a:hover,
a:active,
a:visited {
    display: block;
    text-decoration: none;
    color: #fafafa;
    width: 100%;
}

.title {
    line-height: 1.5em;
}

.style {
    text-transform: capitalize;
}

.genre {
    line-height: 1.2em;
}

.twitch {
    background-color: #9146FF;
    border-color: #9146FF;
}

.youtube {
    background-color: #c4302b;
    border-color: #c4302b;
}

.instagram {
    background-color: black;
    border-color: #fafafa;
}

.reddit {
    background-color: #FF5700;
    border-color: #FF5700;
}

.mp3 {
    background-color: #393e41;
    border-color: #393e41;
}

div.twitchSafeRibbon {
    height: 18px;
    width: 100px;
    background-color: #9146FF;
    position: absolute;
    top: 28px;
    right: -4px;
    text-align: center;
    color: #fafafa;
    font-size: 14px;
    white-space: nowrap;
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    transform: rotate(35deg);
}

.twitchSafeRibbon:before {
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 30px;
    border-left-width: 43px;
    border-right-width: 21px;
    content: "";
    display: block;
    left: -36px;
    position: absolute;
    width: 153px;
    border-top-width: 0px;
    border-bottom-color: #9146FF;
    top: -6px;
    z-index: -1;
}

.flex {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.speechBubble {
    background-color: #393e41;
    padding: 1em;
    margin-bottom: 2em;
    cursor: default;
    border-left: 5px solid;
    border-color: #ffaa00;
    font-weight: 500;
}

.speechBubble h3 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: 500;
}

.speechBubble p {
    margin: .2em;
}

.speechBubble:after {
    content: '';
    margin-top: -30px;
    padding-top: 0px;
    position: relative;
    bottom: -45px;
    left: 20px;
    border-width: 30px 0 0 30px;
    border-style: solid;
    border-color: #393e41 transparent;
    display: block;
    width: 0;
}

.episode,
.feature {
    padding: .2em .2em .8em;
    width: 100%;
    position: relative;
    border-bottom: #393e41 1px solid;
}

.episode:last-of-type {
    border-bottom: none;
}

.episodeData {
    flex-grow: 2;
    align-content: left;
}

.episodeInfo {
    margin-top: .5em;
    font-size: .8em;
    font-weight: 500;
}

.featured {
    font-size: 120%;
    font-weight: 120%;
}

.tag {
    padding: .25em 1em;
    font-size: .5em;
    border-radius: 1em;
}

.filterButton {
    background-color: #393e41;
    border: none;
    color: fafafa;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: .2em .5em;
    cursor: pointer;
    border-radius: 1em;
}

.activeFilter {
    background-color: #ffaa00;
    color: black;
}

.hidden {
    display: none;
}

@media (max-width: 600px) {

    .flex {
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        gap: 0px 30px;
    }

    .third {
        flex-basis: 100%;
        min-width: 260px;
    }

    .episodeData {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 900px) {

    .flex {
        flex-direction: row;
        align-items: flex-start;
        align-content: flex-start;
        gap: 10px 10px;
    }

    .third {
        flex-basis: 48%;
        min-width: 260px;
    }
}

@media (min-width: 900px) and (max-width: 4000px) {

    .flex {
        flex-direction: row;
        align-items: flex-start;
        align-content: flex-start;
        gap: 20px 30px;
    }

    .third {
        flex-basis: 30%;
        min-width: 260px;
    }
}