:root {
    --color-whiteish: #ececd4;
    --color-blackish: #232323;
    --color-orange: #ff8c00;
    --color-twitch: #9146FF;
    --color-youtube: #c4302b;
    --color-instagram: black;
    --color-reddit: #FF5700;
    --color-mp3: #393e41;

}

body {
    background-color: #232323;
    color: var(--color-whiteish);
    font-family: 'Inter', sans-serif;
    font-size: 14pt;
    font-weight: 700;
    margin: 0;
    padding: 0;
    height: 100%;
}



h1 {
    display: block;
    font-size: 36pt;
    font-weight: bolder;
    color: var(--color-orange);
    text-align: center;
}

h2 {
    display: block;
    font-size: 24pt;
    font-weight: bolder;
    color: var(--color-orange)
}

h3 {
    font-size: 18pt;
    font-weight: bolder;
    color: var(--color-orange)
}

.header h3 {
    color: var(--color-blackish);
}

ul,
li {
    font-size: 14pt;
    font-weight: normal;
    list-style-type: none;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--color-blackish);
    color: var(--color-whiteish);
    font-family: 'Inter', sans-serif;
    font-size: 14pt;
}

.buttons {
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.right {
    align-self: flex-end;
}

.highlight {
    color: var(--color-orange);
}

.header .highlight {
    color: var(--color-blackish);
    font-weight: 900;
}

.smallPrint {
    font-size: .75em;
    font-weight: 500;
}

.content {
    margin: auto;
    position: relative;
}

.container {
    margin: auto;
    max-width: 1200px;
    padding: 1em;
}

.tight-container {
    padding: 0.1em 1em;
}

.header {
    background-color: var(--color-whiteish);
    color: var(--color-blackish);
    padding-top: 1em;
    padding-bottom: 2em;
}

.script-logo {
    max-width: 100%;
    max-height: 3em;
}

.profilePic {
    max-width: 300px;
    border-radius: 100%;
}

.expanded {
    width: 100%;
}

.footer {
    margin-top: 1rem;
}

.gallery-footer {
    margin-top: 0.1rem;
}

.thumbnail {
    width: 128px;
    border-radius: .6em;
}

.thumbnail--backend {
    width: 64px;
    border-radius: 0;
}

.button {
    text-decoration: none;
    background-color: var(--color-blackish);
    color: var(--color-whiteish);
    border: 0px solid;
    border-radius: .5em;
    width: 80%;
    text-align: center;
    padding: .3em 0em;
    margin: .2em 0em;
}

a,
a:link,
a:hover,
a:active,
a:visited {
    display: block;
    text-decoration: none;
    color: var(--color-whiteish);
}

.title {
    line-height: 1.5em;
}

.style {
    text-transform: capitalize;
}

.genre {
    line-height: 1.2em;
}

.twitch {
    background-color: var(--color-twitch);
    border-color: var(--color-twitch);
}

.youtube {
    background-color: var(--color-youtube);
    border-color: var(--color-youtube);
}

.instagram {
    background-color: black;
    border-color: var(--color-whiteish);
}

.reddit {
    background-color: var(--color-reddit);
    border-color: var(--color-reddit);
}

.mp3 {
    background-color: #393e41;
    border-color: #393e41;
}

div.twitchSafeRibbon {
    height: 18px;
    width: 100px;
    background-color: var(--color-twitch);
    position: absolute;
    top: 28px;
    right: -4px;
    text-align: center;
    color: var(--color-whiteish);
    font-size: 14px;
    white-space: nowrap;
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    transform: rotate(35deg);
}

.twitchSafeRibbon:before {
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 30px;
    border-left-width: 43px;
    border-right-width: 21px;
    content: "";
    display: block;
    left: -36px;
    position: absolute;
    width: 153px;
    border-top-width: 0px;
    border-bottom-color: var(--color-twitch);
    top: -6px;
    z-index: -1;
}

.flex {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.speechBubble {
    background-color: var(--color-blackish);
    padding: 1em;
    margin-bottom: 2em;
    cursor: default;
    border-left: 5px solid;
    border-color: var(--color-orange);
    font-weight: 500;
    color: var(--color-whiteish);
}

.speechBubble h3 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: 500;
    color: var(--color-orange)
}

.speechBubble p {
    margin: .2em;
}

.speechBubble a {
    font-weight: bolder;
}

.speechBubble:after {
    content: '';
    margin-top: -30px;
    padding-top: 0px;
    position: relative;
    bottom: -45px;
    left: 20px;
    border-width: 30px 0 0 30px;
    border-style: solid;
    border-color: var(--color-blackish) transparent;
    display: block;
    width: 0;
}

.episode,
.feature {
    padding: .2em .2em .8em;
    width: 100%;
    position: relative;
    border-bottom: var(--color-whiteish) 1px solid;
}

.episode:last-of-type {
    border-bottom: none;
}

.episodeData {
    flex-grow: 2;
    align-content: left;
}

.episodeInfo {
    margin-top: .5em;
    font-size: .8em;
    font-weight: 500;
}

.featured {
    font-size: 120%;
    font-weight: 120%;
}

.featured img {
    max-width: 256px;
    border-radius: 1em;
}

.tag {
    padding: .25em 1em;
    font-size: .5em;
    border-radius: 1em;
}

.filterButton {
    background-color: var(--color-whiteish);
    border: none;
    color: var(--color-blackish);
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: .2em .5em;
    cursor: pointer;
    border-radius: 1em;
}

.activeFilter {
    background-color: var(--color-orange);
    color: var(--color-blackish);
}

.hidden {
    display: none !important;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    height: calc(100svh - 100px);
}

.viewer {
    flex: 2 0 content;
    max-height: 50svh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.gallery {
    flex: 1 1 content;
    overflow-y: scroll;
    position: relative;
    border: solid var(--color-whiteish);
    border-width: 2px 0px;
}

.viewer-image {
    flex: 1;
    max-height: calc(100% - 40px);
    max-width: 100%;
    display: block;
    margin: auto;
    object-fit: contain;
    position: relative;
}

.viewer-image img {
    flex-shrink: 1;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    object-fit: contain;
}

.image-prompt {
    position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: var(--color-blackish);
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.image-buttons {
    position: absolute;
    bottom: 8px;
    right: 8px;

}

.image-buttons button {
    margin: 0 0 0 0.5em;
    border: 0;
    background: none;
    font-size: x-large;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.sd-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-blackish);
    opacity: 0.8;
    display: none;
    flex-direction: column;
    font-size: medium;
    font-weight: 500;
    gap: .5em;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.parameter {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.label {
    min-width: 100px;
}

.prompt {
    width: auto;
}

.settings {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: .2em;
    justify-content: space-between;
}

.settings-item {
    display: flex;
    flex-direction: row;
}

.viewer-buttons {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 40px;
    width: 100%;
}

.viewer-button {
    flex: 1 1 auto;
}


.gallery-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .2em;
}

.gallery-item button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.gallery-item img {
    border: none;
    max-width: 128px;
    max-height: 128px;
}

@media (max-width: 600px) {

    .flex {
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        gap: 0px 30px;
    }

    .third {
        flex-basis: 100%;
        min-width: 260px;
    }

    .episodeData {
        width: 100%;
    }

    .featured {
        width: 100%;
        text-align: center;
    }

    .featured img {
        max-width: 320px;
    }

    .gallery-item img {
        max-width: 64px;
        max-height: 64px;
    }

    .sd-info {
        position: fixed;
        font-size: small;
    }

    .settings {
        flex-direction: column;
    }
}

@media (min-width: 600px) and (max-width: 900px) {

    .flex {
        flex-direction: row;
        align-items: flex-start;
        align-content: flex-start;
        gap: 10px 10px;
    }

    .third {
        flex-basis: 48%;
        min-width: 260px;
    }


    .gallery-item img {
        max-width: 96px;
        max-height: 96px;
    }

    .sd-info {
        position: fixed;
        font-size: small;
    }

    .settings {
        flex-direction: column;
    }
}

@media (min-width: 900px) and (max-width: 4000px) {

    .flex {
        flex-direction: row;
        align-items: flex-start;
        align-content: flex-start;
        gap: 20px 30px;
    }

    .third {
        flex-basis: 30%;
        min-width: 260px;
    }

    .sd-info {
        position: absolute;
        font-size: medium;
    }
}